<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/challenges.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <title>Challenges</title>
</head>
<body>
    <header id="header">
        <div class="container">
            <div class="logo">
                <p><a href="" class="the">The</a></p>
                <p><a href="" class="studio">Studio</a></p>
            </div>
           <nav>
                <ul>
                    <li><a href="home.html#workout-facility">Facility</a></li>
                    <li><a href="home.html#our-methods">Methods</a></li>
                    <li><a href="challenges.html">Challenges</a></li>
                    <li><a href="home.html#contact-us">Contact</a></li>
                </ul>
                <div class="icons">
                    <a href=""><span>Log In</span> <i class="fa-solid fa-circle-user"></i></a>
                    <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                </div>
           </nav>
        </div>
    </header>
    <main>
        <div id="our-challenges">
            <section class="title">
                <div class="content">
                    <h1>Our Challenges</h1>
                    <p>Step by step challenges to keep you strong and motivated.</p>
                </div>
            </section>
            <section class="challenges">
                <div class="challenge">
                    <div class="img-box">
                    <img src="../assets/img/Fullbody.jpg" alt="">
                    </div>
                    <div class="challenge-content">
                        <h2>Be Full Body Strong</h2>
                        <span>Free</span>
                        <button>Join</button>
                    </div>
                </div>
                <div class="challenge">
                    <div class="challenge-content">
                        <h2>Arms,Arms,Arms!</h2>
                        <span>Free</span>
                        <button>Join</button>
                    </div>
                    <div class="img-box">
                        <img src="../assets/img/armsarmsarms.jpg" alt="">
                        </div>
                </div>
                <div class="challenge">
                    <div class="img-box">
                    <img src="../assets/img/fullbodyChallenge.jpg" alt="">
                    </div>
                    <div class="challenge-content">
                        <h2>10 Day Squat Challenge</h2>
                        <h3>10 Days</h3>
                        <span>Free</span>
                        <button>Join</button>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <footer>
        <div id="footer-top">
            <div class="container">
                <div class="logo">
                    <p><a href="#header" class="the">The</a></p>
                    <p><a href="#header" class="studio">Studio</a></p>
                </div>
                <div class="menu">
                    <h2>Menu</h2>
                    <ul>
                        <a href=""><li>Facility</li></a>
                        <a href=""><li>Methods</li></a>
                        <a href=""><li>Challenges</li></a>
                        <a href=""><li>Memberships</li></a>
                        <a href=""><li>Contact</li></a>
                    </ul>
                </div>
                <div class="contact-us">
                    <h2>Contact Us</h2>
                     <ul>
                        <li>500 Terry Francine Street</li>
                        <li>San Francisco, CA 94158</li>
                        <li>Mail: info@mysite.com</li>
                        <li>Tel: 123-456-7890</li>
                     </ul>
                </div>
                <div class="opening-hours">
                    <h2>Opening Hours</h2>
                    <ul>
                        <li>Sun-Fri: 9AM to 10PM</li>
                        <li>Saturday: 10AM to 7PM</li>
                        <li class="icons">
                            <i class="fa-brands fa-facebook-f"></i>
                            <i class="fa-brands fa-instagram"></i>
                            <i class="fa-brands fa-youtube"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer-bottom">
            <p>© 2035 by The Studio. Powered and secured by <a href="https://manage.wix.com/account/sites?referralAdditionalInfo=Route">Wix</a></p>
        </div>
    </footer>
</body>
</html>