<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../assets/css/header.css">
    <link rel="stylesheet" href="../assets/css/home.css">
    <link rel="stylesheet" href="../assets/css/footer.css">
    <title>Document</title>
</head>
<body>
        <header id="header">
            <div class="container">
                <div class="logo">
                    <p><a href="" class="the">The</a></p>
                    <p><a href="" class="studio">Studio</a></p>
                </div>
               <nav>
                    <ul>
                        <li><a href="home.html#workout-facility">Facility</a></li>
                        <li><a href="home.html#our-methods">Methods</a></li>
                        <li><a href="challenges.html">Challenges</a></li>
                        <li><a href="home.html#contact-us">Contact</a></li>
                    </ul>
                    <div class="icons">
                        <a href=""><span>Log In</span> <i class="fa-solid fa-circle-user"></i></a>
                        <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                  
               </nav>
               <div class="bars">
                <a href=""><i class="fa-solid fa-bars"></i></a>
               </div>
            </div>
        </header>
        <div id="chat">
            <h4><i class="fa-regular fa-comment-dots"></i> Let's Chat!</h4>
        </div>
        <main>
            <section id="train-hard">
                <div class="layout"></div>
                <div class="content">
                    <h1>Train Hard. Sweat Hard.</h1>
                    <p>I'm a title. Click here to edit me.</p>
                    <button class="become-member">Become a Member</button>
                    <button class="book-now">Book Now</button>
                </div>
                <div class="container">
                    <div class="bg-1"></div>
                    <div class="bg-2"></div>
                    <div class="bg-3"></div>
                </div>
            </section>
            <section id="start-sweating">
               <div>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
                <button>Start Sweating</button>
               </div>
            </section>
            <section id="results-guaranteed">
                <div class="orange"></div>
                <div class="img-box">
                    <img src="../assets/img/100%results.png" alt="">
                </div>
                <div class="content">
                    <h2>100% Results <br> Guaranteed</h2>
                    <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. </p>
                    <button>Learn More</button>
                </div>
            </section>
            <section id="workout-facility">
                <h2 class="title">Workout Facility</h2>
                <div class="container">
                    <div class="orange"></div>
                    <div class="fitness-imgs">
                        <div class="img-box img-box1 main-img">
                            <div class="layout"></div>
                            <img src="../assets/img/workoutFacility1.jpg" alt="">
                        </div>
                        <div class="img-box img-box2">
                            <div class="layout"></div>
                            <img src="../assets/img/workoutFacility2.jpg" alt="">
                        </div>
                        <div class="img-box img-box2">
                            <div class="layout"></div>
                            <img src="../assets/img/workoutFacility3.jpg" alt="">
                        </div>
                        <div class="img-box img-box1">
                            <div class="layout"></div>
                            <img src="../assets/img/workoutFacility4.jpg" alt="">
                        </div>
                    </div>
                </div>

            </section>
            <section id="our-methods">
                <h2 class="title">Our Methods</h2>
                <div class="black"></div>
                <div class="container">
                    <div class="box">
                        <img class="main-img" src="../assets/img/ourMethods1.png" alt="">
                        <div class="box-content">
                            <h3>Body Shape</h3>
                            <p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="../assets/img/ourMethods2.png" alt="">
                        <div class="box-content">
                        <h3>Extreme</h3>
                        <p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="../assets/img/ourMethods3.jpg" alt="">
                        <div class="box-content">
                            <h3>Burn</h3>
                            <p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
                        </div>
                    </div>
                    <div class="box">
                        <img src="../assets/img/ourMethods4.jpg" alt="">
                       <div class="box-content">
                        <h3>Hiit</h3>
                        <p>I'm a paragraph. Click here to add your own text and edit me. Let your users get to know you.</p>
                       </div>
                    </div>
                </div>
                <div class="our-classes">
                    <button>Our Classes</button>
                </div>
            </section>
            <section id="contact-us">
                <div class="title">
                    <h2>Hit Us Up Anytime</h2>
                </div>
                <div class="img-box"></div> 
                <div id="form-control">
                    <div class="title">
                    <h2>Contact Us</h2>
                    </div>
                    <form>
                        <div class="left-side">
                           <div class="input-fluid">
                            <label for="">First Name</label>
                            <input type="text">
                           </div>
                           <div class="input-fluid">
                            <label for="">Phone Number</label>
                            <input type="tel">
                           </div>
                           <div class="input-fluid">
                            <label for="">Leave us a message...</label>
                            <textarea name="" id="" cols="0" rows="0"></textarea>
                           </div>
                        </div>
                        <div class="left-side">
                            <div class="input-fluid">
                             <label for="">Last Name</label>
                             <input type="text">
                            </div>
                            <div class="input-fluid">
                             <label for="">Email</label>
                             <input class="email" type="email">
                            </div>
                            <button>Submit</button>
                         </div>
                    </form>
                </div> 
            </section>
        </main>
        <footer>
            <div id="footer-top">
                <div class="container">
                    <div class="logo">
                        <p><a href="#header" class="the">The</a></p>
                        <p><a href="#header" class="studio">Studio</a></p>
                    </div>
                    <div class="menu">
                        <h2>Menu</h2>
                        <ul>
                            <a href=""><li>Facility</li></a>
                            <a href=""><li>Methods</li></a>
                            <a href=""><li>Challenges</li></a>
                            <a href=""><li>Memberships</li></a>
                            <a href=""><li>Contact</li></a>
                        </ul>
                    </div>
                    <div class="contact-us">
                        <h2>Contact Us</h2>
                         <ul>
                            <li>500 Terry Francine Street</li>
                            <li>San Francisco, CA 94158</li>
                            <li>Mail: info@mysite.com</li>
                            <li>Tel: 123-456-7890</li>
                         </ul>
                    </div>
                    <div class="opening-hours">
                        <h2>Opening Hours</h2>
                        <ul>
                            <li>Sun-Fri: 9AM to 10PM</li>
                            <li>Saturday: 10AM to 7PM</li>
                            <li class="icons">
                                <i class="fa-brands fa-facebook-f"></i>
                                <i class="fa-brands fa-instagram"></i>
                                <i class="fa-brands fa-youtube"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <p>© 2035 by The Studio. Powered and secured by <a href="https://manage.wix.com/account/sites?referralAdditionalInfo=Route">Wix</a></p>
            </div>
        </footer>

</body>
</html> 